/* General rules */

body {
  background-color: black;
}

h1 {
  color: white;
  font-size: 40px;
  margin: 5px;
}

.logo {
  width: 200px;
  margin: 20px 50px;
}

.movieSection {
  margin: 50px;
  margin-top: 5px;
}

.container {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
}

.carrousel {
  display: flex;
  overflow: scroll;
  margin: 5px;
  margin-top: 15px;
}

.carrousel > img {
  flex-shrink: 0;
}
